*{
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: black;
}

#container {
    background-image: url(/images/back.jpg);
    width: 100%;
    height: 680px;
    margin: 20px auto; 
    position: fixed;  
}

#calculator {
    width: 320px;
    position: relative;
    height: 520px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.6;
    margin: 100px auto;
}